@import "./general/mixin.scss";
@import "./general/base.scss";

.main_container {
    height: 100vh;
    padding: var(--md-p);

    .header_container {
        margin-bottom: var(--md-p);
    }

    .credit_card_container {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .credit_card {
            width: 320px;
            height: 204px;
            position: relative;
        }

        .front_container,
        .back_container {
            width: 100%;
            height: 100%;
            padding: var(--md-p);
            border-radius: var(--border-radius-light);
            background: #aa4b6b;
            background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
            background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
            position: absolute;
            backface-visibility: hidden;
            transition: all var(--animation-speed);

            .title {
                font-size: var(--font-size-base);
                margin-bottom: var(--sm-p);
                color: var(--background-color);
            }
        }

        .front_container {

            .wifi_icon,
            .card_brand_logo {
                width: 48px;
                height: 48px;
            }

            .wifi_icon {
                @include position(absolute, $top: var(--md-p), $left: var(--md-p));
            }

            .card_brand_logo {
                @include position(absolute, $top: var(--md-p), $right: var(--md-p));
            }

            .number_body {
                @include position(absolute, $top: 50%);
                transform: translateY(-50%);
                width: 280px;

                .card_number {
                    font-size: var(--font-size-xlarge);
                    letter-spacing: 5px;
                }
            }

            .holder_body,
            .expiry_body {
                position: absolute;
                bottom: var(--md-p);
            }

            .holder_body {
                left: var(--md-p);
                text-transform: capitalize;
            }

            .expiry_body {
                right: var(--md-p);
            }
        }

        .back_container {
            transform: rotateY(180deg);

            .stripe,
            .cvvStripe {
                width: 100%;
                height: 30px;
            }

            .stripe {
                background-color: #232f34;
                @include position(absolute, $top: var(--md-p), $left: 0);
            }

            .cvvStripe {
                background-color: #d4f1f4;
                @include position(absolute, $top: 50%, $left: 0);
                transform: translateY(-50%);

                .cvv {
                    @include position(absolute, $top: 50%, $right: var(--md-p));
                    transform: translateY(-50%);
                    color: var(--background-color-secondary);
                }
            }
        }

        .credit_card {
            &.back_visible {
                .front_container {
                    transform: rotateY(-180deg);
                }

                .back_container {
                    transform: rotateY(0);

                }
            }

            &:hover {
                .back_container {
                    transform: rotateY(0);
                }

                .front_container {
                    transform: rotateY(-180deg);
                }
            }
        }
    }

    .credit_card_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--md-p);

        label {
            display: block;
            margin-bottom: var(--sm-p);
        }

        input,
        select {
            border-radius: var(--border-radius-light);
        }

        .form_container {
            display: flex;
            gap: var(--md-p);

            .form_input {
                width: 100%;

                &_container {
                    width: 100%;
                    display: flex;
                    gap: var(--md-p);

                    select {
                        min-width: 80px;
                    }

                    option {
                        background-color: var(--background-color-secondary);

                        &.past_month {
                            color: var(--border-color);
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .credit_card_container {
            gap: var(--xl-p);
        }
    }

    @media only screen and (min-width: 769px) {
        .credit_card_form {
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius-light);
            margin-top: -102px;
            padding: 122px var(--md-p) var(--md-p) var(--md-p);
        }
    }
}